<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div ng-if="!pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="alert alert-success" role="alert" ng-if="editSuccess">Покемон обновлен!</div>
<div class="alert alert-danger" role="alert" ng-if="editError">Покемон не обновлен!</div>

<form name="pokemonForm" novalidate ng-if="pokemonLoaded">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="pokemonData.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="pokemonData.weight" type="text" placeholder="Вес">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Активен
        </label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="editPokemon(pokemonData)" ng-disabled="pokemonForm.$invalid">Сохранить</button>
</form>